* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(240, 78%, 98%);
  font-size: 15px;
  text-align: center;
  position: relative;
  font-family: "Montserrat";
}
main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 3%;
}
body::before {
  content: "";
  background-image: url(../images/bg-top.svg);
  background-position: top right;
  background-repeat: no-repeat;
  position: absolute;
  top: -70px;
  right: 0;
  width: 100vw;
  height: 70vw;
  z-index: -1;
}
body::after {
  content: "";
  background-image: url(../images/bg-bottom.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -1;
}
h1 {
  font-size: 1.5em;
  color: hsl(233, 13%, 49%);
  font-weight: 700;
  padding-bottom: 20px;
}
.toggle-container {
  padding-bottom: 20px;
  color: hsl(234, 14%, 74%);
}
.toggle-container input {
  display: none;
}
.toggle-container #toggle {
  margin: 0 10px -7px 10px;
  display: inline-block;
  width: 48px;
  height: 28px;
  background: grey;
  border-radius: 40%;
  position: relative;
}
.toggle-container #toggle::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
.toggle-container input:checked + #toggle {
  background: blue;
}
.toggle-container input:checked + #toggle::before {
  left: 50%;
}

.price-box #anually {
  display: none;
}

.show-anually .price-box #monthly {
  display: none;
}

.show-anually .price-box #anually {
  display: block;
}
.price-box-container {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
}

.price-box #doller {
  display: inline-block;
  font-size: large;
  position: relative;
  bottom: 3px;
}
@media all and (max-width: 700px) {
  .price-box-container {
    flex-flow: column wrap;
  }
  .price-box-container .price-box-premium {
    transform: none;
  }
}
.price-box {
  width: fit-content;
  height: min-content;
  padding: 10px 50px 30px 50px;
  background-color: white;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 5px 0px 5px 0px #888888;
}
.price-box hr{
  width: 150px;
  width: 170px;
  visibility: hidden;
}

.price-box-premium {
  transform: scale(1.15);
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
}
.price-box p {
  padding: 15px;
  color: hsl(233, 13%, 49%);
  border-bottom: 1px solid hsl(234, 14%, 74%);
}
.price-box-premium p {
  color: white;
}
.price-box h4 {
  padding: 15px;
  color: hsl(233, 13%, 49%);
}
.price-box-premium h4 {
  color: white;
}
.price-box .price {
  padding: 25px;
  border-bottom: 1px solid hsl(234, 14%, 74%);
  font-size: 2em;
  font-weight: 700;
}

.price-box-btn {
  letter-spacing: normal;
  margin-top: 20px;
  width: 100%;
  height: min-content;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  padding: 10px;
  border: 0px solid;
  border-radius: 5px;
  text-transform: uppercase;
}
.price-box-premium .price-box-btn {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}
